@value bubbled from "app/Global.module.css";

.outer {
	composes: bubbled;
	padding: 0;
	margin-top: 0.5rem;
}

.container {
	padding: 4px 12px;
	background: var(--applePodcasts);
	color: var(--white);
	font-weight: bold;
	border-radius: 0.5rem;
	font-size: 1rem;
	display: flex;
	flex-direction: row;
	align-items: center;
	white-space: nowrap;
}

.star {
	font-size: 0.8em;
	margin-left: 2px;
	margin-right: 4px;
}
