@value bubbled from "app/Global.module.css";

.container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	margin-bottom: 16px;
	composes: bubbled;
}

.styledLink {
	margin: 0 8px;
	margin-bottom: 0px;
	font-weight: bold;
	white-space: nowrap;
	cursor: pointer;
	/* color: var(--bluey6); */
	color: var(--offText);
}
.styledLink:hover {
	color: var(--bluey10);
}
.styledLink.active {
	border-bottom: 2px solid var(--bluey7);
}
