.link {
	margin: 0 8px;
	margin-bottom: 0px;
	font-weight: bold;
	white-space: nowrap;
	cursor: pointer;
	color: var(--offText);
}
.link:hover {
	color: var(--bluey10);
}
.link.active {
	border-bottom: 2px solid var(--bluey7);
}
